<div class="container">
                    <!-- begin timeline-time -->
          <ul class="timeline">
            <li>
              <div class="timeline-time">
                  <span class="date">2015.3 - 至今</span>
                  <span class="time">贤房信息技术有限公司</span>
              </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
              <div class="timeline-icon">
                  <a href="javascript:;"><i class="fa fa-flag"></i></a>
              </div>
            <!-- end timeline-icon -->

            <!-- iPad App guide -->
          
              <div class="timeline-body">
                  <div class="timeline-header">
                      <span class="username">从事API接口开发以及网站开放工作</span>
                      <span class="pull-right text-muted">Ruby工程师</span>
                  </div>
                  <div class="timeline-content">

                      <p>使用到的技术：</p>
                      <p>
                         <ul>
                              <li>Nginx/Unicorn/Capistrano</li>
                              <li>Sidekiq+Redis</li>
                              <li>FactoryGirl+Rspec</li>  
                              <li>Mysql, Mongodb</li>
                              <li>Grape</li>
                              <li>Ruby On Rails</li>
                              <li>Python</li>
                              <li>Jquery+Ajax+Coffee</li>
                              <li>Git</li>
                          </ul>
                      </p> 
                  </div>
              </div>
            </li>
            <li>
            <div class="timeline-time">
                <span class="date">2014.9 - 2015.1</span>
                <span class="time">创业期</span>
            </div>
          <!-- end timeline-time -->
          <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-flag"></i></a>
            </div>
          <!-- end timeline-icon -->

          <!-- iPad App guide -->
        
            <div class="timeline-body">
                <div class="timeline-header">
                    <span class="username">电商产品开发</span>
                    <span class="pull-right text-muted">技术负责人</span>
                </div>
                <div class="timeline-content">

                    <p>使用到的技术：</p>
                    <p>
                       <ul>
                            <li>Nginx/Unicorn/Capistrano</li>
                            <li>Sidekiq+Devise</li>
                            <li>FactoryGirl+Rspec</li>  
                            <li>Mysql+Rails</li>
                            <li>Paperclip+S3</li>
                            <li>Grape</li>
                            <li>Jquery+Ajax</li>
                            <li>Git</li>
                        </ul>
                    </p> 
                </div>
            </div>
          </li>

          <li>
            <div class="timeline-time">
                <span class="date">2013.10 - 2014.09</span>
                <span class="time">滴博网络</span>
            </div>
          <!-- end timeline-time -->
          <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-flag"></i></a>
            </div>
          <!-- end timeline-icon -->

          <!-- iPad App guide -->
        
            <div class="timeline-body">
                <div class="timeline-header">
                    <span class="username">从事游戏后端API开发</span>
                    <span class="pull-right text-muted">Ruby工程师</span>
                </div>
                <div class="timeline-content">

                    <p>使用到的技术：</p>
                    <p>
                       <ul>
                            <li>Devise</li>
                            <li>ab性能测试</li>
                            <li>FactoryGirl+Rspec</li>  
                            <li>Mysql+Rails</li>
                            <li>Paperclip+S3</li>
                            <li>Grape</li>
                            <li>RailsEngine</li>
                            <li>Git</li>
                        </ul>
                    </p> 
                </div>
            </div>

         </li>

                   <li>
            <div class="timeline-time">
                <span class="date">2012.10 - 2013.07</span>
                <span class="time">上海海能信息技术有限公司</span>
            </div>
          <!-- end timeline-time -->
          <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-flag"></i></a>
            </div>
          <!-- end timeline-icon -->

          <!-- iPad App guide -->
        
            <div class="timeline-body">
                <div class="timeline-header">
                    <span class="username">嵌入式监测设备开发</span>
                    <span class="pull-right text-muted">嵌入式工程师</span>
                </div>
                <div class="timeline-content">

                    <p>使用到的技术：</p>
                    <p>
                       <ul>
                            <li>C语言</li>
                            <li>Stm32开发板/Jlink</li>
                            <li>GSM模块/AT命令</li>  
                            <li>IAR</li>
                        </ul>
                    </p> 
                </div>
            </div>

         </li>
        </ul>
          <!-- end timeline-time -->
  <div class="row">
    <div class="col-xs-12">
      <div class="maincontent">
          <article class="post">
            <h2>个人简介</h2>
            <p>卫佳超,英文名daneil,现居上海,ruby程序员,擅长网站及API接口开发</p>           
            <h2>足迹</h2>
            <h3>Github</h3>
            <a href="https://github.com/yumu01">https://github.com/yumu01</a>
            <h3>Ruby China</h3>
             <a href="https://ruby-china.org/yumu01">https://ruby-china.org/yumu01</a>
            <h3>联系我</h3>
            <p>Gmail: daneilmu1@gmail.com</p>
            <p>QQ邮箱: 383466970@qq.com</p> 
            
          </article>
      </div>
    </div>
  </div>
</div>
