<div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Leave My School. <span class="text-muted">In my mind.</span></h2>
          <p class="lead">四年的大学生活结束了，给我们留下了许多回忆，依然记得大一那年我们做了好多丢人的事情，虽然丢人但却不失为一种值得回味的东西，至少不会为大学的不完整而后悔。随着一年升一级，每一年都过着不一样的生活，做着不一样的事情，学校美丽的环境，安逸的图书馆，自由的生活节奏依然让我很是怀念，在此只为追忆我们那四年美好的时光。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="http://bylur.img41.wal8.com/img41/429797_20140802082820/140693932131.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="http://bylur.img43.wal8.com/img43/429797_20140802082820/14221641561.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Enjoy Your Life. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">我们的世界应该更宽广.我喜欢旅行,在年轻的时候希望能够多出去走走,看看这个世界,将每一次旅行的过程都记录下来,我想等n年以后再回头看看那些游记的时候一定会非常有意思.旅行的意义我想不仅仅是让你的生命变得更加有意义,它也能让你拓宽眼界,在旅行的途中也能愉悦心情,时刻保持积极乐观的心态.So enjoy your life!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">On The Way. <span class="text-muted">For success.</span></h2>
          <p class="lead">工作我选择了IT这条路，谈不上是否喜欢，但我觉得是目前比较适合我的一个比较有趣，而又发展不错的职业，这条路从大四一直走到现在，两年的时间让我有了很好的编程习惯以及乐于探索技术的精神。Ruby是个比较不错的语言，基于这个语言所做的工作较于其他软件行业来说它显得有趣而又博学，这也是我转做ruby的一大原因。在未来希望自己能够在这个方向上有个很好的发展，有着自己的一番事业，在此以自勉！</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="http://bylur.img43.wal8.com/img43/429797_20140802082820/142216415724.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2014  <a href="https://github.com/yumu01"> Daneil</a></p>
      </footer>

    </div>